.fog-parent {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 100vw;
  height: 415px;
}

.fog {
  position: absolute;
  width: 4200px;
  height: 415px;  
  background-image: url('../assets/fog.png') ;

  /* filter:blur(2px); */
  /* mix-blend-mode: multiply; */
}

.fog-animation {
  transform: translateX(
    970px
  );
  animation: moving-fog 30s linear infinite;
}

@keyframes moving-fog {
  0% {
    transform: translateX(
      -2100px
    );
  }
  100% {
    transform: translateX(
      0px
    );
  }
}
