.gloster-title {
  position: absolute;
  top: 70%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gloster-front-view {
  position: absolute;
  scale: 0.5;
  opacity: 0;
  animation: gloster-front-view-animation 6s linear forwards;
}
@keyframes gloster-front-view-animation {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  10%{
    opacity: 0;
    scale: 0.5;
  }
  25% {
    opacity: 1;
  }
  50%{
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.gloster-introducing {
  position: absolute;
  opacity: 0;
  scale: 0.7;
  animation: gloster-introducing-animation 6s linear forwards;
  
}

@keyframes gloster-introducing-animation {
  00% {
    opacity: 0;
    transform: translateY(0);
  }
  10% {
    opacity: 0;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    
    transform: translateY(-220%);
  }
  100% {
    opacity: 1;
    
    transform: translateY(-220%);
  }
}