.mgzs-car-container {
  width: 350px;
  height: 100%;
  background-image: url('../assets/mgzs.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 200px;
  left: calc(50%);
  translate: -10%;
  animation: mgzs-animation 5s linear forwards;
}

@keyframes mgzs-animation {
  0% {
    transform: calc(50%);
  }

  100% {
    transform: translate(-100vw);
  }
}

.mgzs-wheels {
  position: absolute;
  top: 123px;
  animation: mgzs-wheel-rotation 3s linear infinite;
}

@keyframes mgzs-wheel-rotation {
  0% {
    transform: rotate(720deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.mgzs-front-wheel-position {
  left: 261px;
}

.mgzs-rear-wheel-position {
  left: 47px;
}